<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .center {text-align: center}
    </style>
</head>
<body>
    <div class="center">
        {% for result in transactions_types %}
            <div>{{ result }}</div>
        {% endfor %}

        <hr>
        {% for result in sessions_types %}
            <div>{{ result }}</div>
        {% endfor %}
        <hr>
        {% for result in customers_types %}
            <div>{{ result }}</div>
        {% endfor %}
        <hr>
        {% for result in products_types %}
            <div>{{ result }}</div>
        {% endfor %}
        <hr>
        {% for result in transactions_columns %}
            <div>{{ result }}</div>
        {% endfor %}
        <hr>
        {% for result in sessions_columns %}
            <div>{{ result }}</div>
        {% endfor %}
        <hr>
        {% for result in customers_columns %}
            <div>{{ result }}</div>
        {% endfor %}
        <hr>
        {% for result in products_columns %}
            <div>{{ result }}</div>
        {% endfor %}
    </div>
</body>
</html>