<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="../static/style.css" rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>

</head>

<body>
<div class="main">
    <!-----start-main---->
    <h1 align="center" style="font-size: 40px;">参数配置表单</h1>
    <br>
    <hr>
    <br>
    <form action="/get_results/" method="post">
        {% csrf_token %}
        <p align="center">max_depth:</p>
        <div class="lable">
            <div style="display: flex;justify-content: center;">
                <input type="text" style="text-align:center " name="max_depth" class="text" value="请输入特征融合深度">
            </div>
        </div>
        <div class="clear"></div>
        <div class="lable">
            <p align="center">agg_pri:</p><br>
            <div align="center">
                <input type="checkbox" name="agg_pri" value="Count">Count,
                <input type="checkbox" name="agg_pri" value="Mean">Mean,
                <input type="checkbox" name="agg_pri" value="Sum">Sum,
                <input type="checkbox" name="agg_pri" value="Min">Min,
                <input type="checkbox" name="agg_pri" value="Max">Max,
                <input type="checkbox" name="agg_pri" value="Std">Std,
                <input type="checkbox" name="agg_pri" value="Median">Median,
                <input type="checkbox" name="agg_pri" value="Mode">Mode,
                <input type="checkbox" name="agg_pri" value="Avg_time_between">Avg_time_between,
                <input type="checkbox" name="agg_pri" value="Time_since_last">Time_since_last,<br>
                <input type="checkbox" name="agg_pri" value="Time_since_first">Time_since_first,
                <input type="checkbox" name="agg_pri" value="num_unique">Unique,
                <input type="checkbox" name="agg_pri" value="percent_true">PercentTrue,
                <input type="checkbox" name="agg_pri" value="all">All,
                <input type="checkbox" name="agg_pri" value="any">Any,
                <input type="checkbox" name="agg_pri" value="last">Last,
                <input type="checkbox" name="agg_pri" value="Skew">Skew,
                <input type="checkbox" name="agg_pri" value="Trend">Trend,
            </div>
        </div>

        <br>
        <div class="column">
            <p align="center">agg_pri_customer:</p><br>
            <div align="center">
                <input type="checkbox" name="agg_pri_customer" value="Time_since_last_by_hour">Time_since_last_by_hour
            </div>
            <br>
        </div>
        <div class="column">
            <p align="center">trans_pri:</p><br>
            <div align="center">
                <input type="checkbox" name="trans_pri" value="month">month

                <input type="checkbox" name="trans_pri" value="hour">hour
            </div>
            <br>
        </div>

        <div class="column">
            <p align="center">trans_pri_customer:</p><br>
            <div align="center">
                <input type="checkbox" name="trans_pri_customer" value="log_e">log_e
            </div>
            <br>
        </div>

        <div style="display: flex;justify-content: center;">
            <div class="submit">
                <input type="submit" value="提交参数">
            </div>
            <div class="reset">
                <input type="reset" value="重置参数">
            </div>

        </div>

        <div class="clear"></div>
    </form>
    <!-----//end-main---->
</div>
<!-----start-copyright---->
<div class="copy-right">
    <a href="#" target="_blank">@copyright</a>
</div>
<!-----//end-copyright---->

</body>
</html>