
<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<link href="../static/style.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		
</head>
 
<body>
	    <div class="ui inverted menu">
        <div class="header item" id="menu">
            参数配置页面
        </div>

    </div>
    <div class="main">
        <!-----start-main---->

        <h1 align="center" style="color: white;font-size: 30px;">参数配置表单</h1>
        <form action="/get_results/" method="post">
            {% csrf_token %}
            <div class="lable">
                <input type="text" class="text" value="Max_Depth" onfocus="this.value = '';"
                       onblur="if (this.value == '') {this.value = 'Max_Depth';}" >
            </div>
            <div class="clear"></div>
            <div class="lable">
                <p style="color: white">agg_pri:</p><br>
                <input style="color: white" type="checkbox" name="agg_pri" value="mean">mean

                <input type="checkbox" name="agg_pri" value="sum">sum

                <input type="checkbox" name="agg_pri" value="mode">mode
            </div>
            <div class="clear"></div>
            <br>
            <br>
            <div class="column">
                <p>trans_pri:</p><br>
                <input type="checkbox" name="trans_pri" value="month">month

                <input type="checkbox" name="trans_pri" value="hour">hour
                <br>
                <br>
            </div>
            <div class="submit">
                <input type="submit" value="提交参数">
            </div>
            <div class="clear"></div>
        </form>
        <!-----//end-main---->
    </div>
    <!-----start-copyright---->
    <div class="copy-right">
        <a href="http://www.cssmoban.com/" target="_blank">@copyright</a>
    </div>
    <!-----//end-copyright---->

</body>
</html>