<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
{#    <link href="../static/style.css" rel='stylesheet' type='text/css'/>#}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
    .center {
        text-align: center
    }

    td {
        width: 500px;
        overflow: hidden
    }

    .title {
        font-size: 25px;
        color: black;
        font-weight: normal;
    }
    .alert {
        color: red;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-default">
        <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../select_tables/">数据源字段选择</a></li>
                    <li><a>字段属性选择</a></li>
                    <li class="active"><a>模型参数选择</a></li>
                    <li><a>生成特征选择</a></li>
                    <li><a>最终选择的特征</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
<div class="main">
    <!-----start-main---->
    <h3 align="center"  style="font-size: 35px;">参数配置表单</h3>
    <hr>
    <form action="/get_results/" method="post">
        {% csrf_token %}
        <h3 align="center">max depth:</h3>
        <div>
          <div class="form-group" style="display: flex;justify-content: center;">
            <input type="text" class="form-control" style="height:51px;width:449px" name="max_depth" placeholder="请输入特征融合深度(建议深度2或者3)" value="2">
          </div>
        </div>
        <br>
        <div class="lable">
            <h3 align="center">aggregate primitives:</h3>
            <br>
            <div align="center">
                <div class="row">
                  <div class="col-md-3"><input type="checkbox" name="agg_pri" value="Count" checked="checked" ><span title="统计值的个数，忽略NaN值。">Count(统计值的个数，忽略NaN值)</span></div>
                  <div class="col-md-3"><input type="checkbox" name="agg_pri" value="Mean" checked="checked"><span title="计算指定列的均值。">Mean(计算指定列的均值)</span></div>
                  <div class="col-md-3"> <input type="checkbox" name="agg_pri" value="Sum" checked="checked"><span title="计算总和，忽略NaN值。">Sum(计算总和，忽略NaN值)</span></div>
                  <div class="col-md-3"><input type="checkbox" name="agg_pri" value="Min" checked="checked"><span title="计算最小值，忽略NaN值。">Min(计算最小值，忽略NaN值)</span></div>
                </div>
                <div class="row">
                  <div class="col-md-3"><input type="checkbox" name="agg_pri" value="Max" checked="checked"><span title="计算最大值，忽略NaN值。">Max(计算最大值，忽略NaN值)</span></div>
                  <div class="col-md-3"><input type="checkbox" name="agg_pri" value="Std" checked="checked"><span title="计算相对于平均值的离散度（标准差），忽略NaN。">Std(计算相对于平均值的离散度（标准差），忽略NaN)</span></div>
                  <div class="col-md-3"><input type="checkbox" name="agg_pri" value="Median" checked="checked"><span title="列表中的最中间数字（中位数）。">Median(列表中的最中间数字（中位数）)</span></div>
                  <div class="col-md-3"><input type="checkbox" name="agg_pri" value="Mode" checked="checked"><span title="最常重复的值（众数）。">Mode(最常重复的值（众数）)</span></div>
                </div>
                <div class="row">
                  <div class="col-md-3"><input type="checkbox" name="agg_pri" value="Avg_time_between" checked="checked"><span title="计算连续事件之间的平均秒数。">AvgTimeBetween(计算连续事件之间的平均秒数)</span></div>
                  <div class="col-md-3"><input type="checkbox" name="agg_pri" value="Time_since_last" checked="checked"><span title="距离最后时间（秒为单位）。">TimeSinceLast(距离最后时间戳时间（秒为单位）)</span></div>
                  <div class="col-md-3"><input type="checkbox" name="agg_pri" value="Time_since_first" checked="checked"><span title="距离最初时间（秒为单位）。">TimeSinceFirst(距离最初时间戳时间（秒为单位）)</span></div>
                  <div class="col-md-3"><input type="checkbox" name="agg_pri" value="num_unique" checked="checked"><span title="确定唯一值的数量，忽略NaN值。">Unique(确定唯一值的数量，忽略NaN值)</span></div>
                </div>
                <div class="row">
                  <div class="col-md-3"><input type="checkbox" name="agg_pri" value="percent_true" checked="checked"><span title="确定True值的百分比。">PercentTrue(确定True值的百分比)</span></div>
                  <div class="col-md-3"><input type="checkbox" name="agg_pri" value="all" checked="checked"><span title="计算列表中的是否所有值都为“True”。">All(计算列表中的是否所有值都为“True”)</span></div>
                  <div class="col-md-3"><input type="checkbox" name="agg_pri" value="any" checked="checked"><span title="确定列表中是否有值为“True”。">Any(确定列表中是否有值为“True”)</span></div>
                  <div class="col-md-3"><input type="checkbox" name="agg_pri" value="last" checked="checked"><span title="列表中的最后一个值。">Last(列表中的最后一个值)</span></div>
                </div>
                <div class="row">
                  <div class="col-md-3"><input type="checkbox" name="agg_pri" value="Skew" checked="checked"><span title="计算分布与正态分布的不同程度。">Skew(计算分布与正态分布的不同程度)</span></div>
                  <div class="col-md-3"><input type="checkbox" name="agg_pri" value="Trend" checked="checked"><span title="计算变量随时间的变化趋势。">Trend(计算变量随时间的变化趋势)</span></div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <div class="column">
            <h3 align="center">transform primitives:</h3>
            <br>
            <div align="center">
                <div class="row">
                  <div class="col-md-3"><input type="checkbox" name="trans_pri" value="year" checked="checked" title=""><span title="确定日期时间的年份值。">Year(确定日期时间的年份值) </span></div>
                  <div class="col-md-3"><input type="checkbox" name="trans_pri" value="month" checked="checked"><span title="确定日期时间的月份值。">Month(确定日期时间的月份值) </span></div>
                  <div class="col-md-3"><input type="checkbox" name="trans_pri" value="week" checked="checked"><span title="确定是一年中的第几周。">Week(确定是一年中的第几周) </span></div>
                  <div class="col-md-3"><input type="checkbox" name="trans_pri" value="day" checked="checked"><span title="确定是一个月中的第几天。">Day(确定是一个月中的第几天) </span></div>
                </div>
                <div class="row">
                  <div class="col-md-3"><input type="checkbox" name="trans_pri" value="hour" checked="checked"><span title="确定日期时间的小时值。">Hour(确定日期时间的小时值) </span></div>
                  <div class="col-md-3"> <input type="checkbox" name="trans_pri" value="minute" checked="checked"><span title="确定日期时间的分钟值。">Minute(确定日期时间的分钟值) </span></div>
                  <div class="col-md-3"><input type="checkbox" name="trans_pri" value="is_weekend" checked="checked"><span title="确定日期是否在周末。">IsWeekend(确定日期是否在周末) </span></div>
                  <div class="col-md-3"><input type="checkbox" name="trans_pri" value="weekday" checked="checked"><span title="确定是一周中的第几天。">weekday(确定是一周中的第几天) </span></div>
                </div>
                <div class="row">
                  <div class="col-md-3"><input type="checkbox" name="trans_pri" value="absolute" checked="checked"><span title="计算数字的绝对值。">absolute(计算数字的绝对值) </span></div>
                  <div class="col-md-3"><input type="checkbox" name="trans_pri" value="time_since" checked="checked"><span title="计算从值到指定截止日期时间的时间。">timesince(计算从值到指定截止日期时间的时间) </span></div>
                  <div class="col-md-3"><input type="checkbox" name="trans_pri" value="diff" checked="checked"><span title="计算值与该列表中前一个值之间的差异。">diff(计算列表中的值与该列表中的先前值之间的差异)</span></div>
                  <div class="col-md-3"><input type="checkbox" name="trans_pri" value="time_since_previous" checked="checked"><span title="计算自上一个条目以来的时间。">TimeSincePrevious(计算自上一个条目以来的时间)</span></div>
                </div>
                <div class="row">
                  <div class="col-md-3"><input type="checkbox" name="trans_pri" value="num_characters" checked="checked"><span title="计算字符串中的字符数。">NumCharacters(计算字符串中的字符数) </span></div>
                  <div class="col-md-3"><input type="checkbox" name="trans_pri" value="num_words" checked="checked"><span title="通过计算空格来确定字符串中的单词数。">NumWords(字符串中的单词数) </span></div>
                </div>
            </div>
            <br>
        </div>
        <div style="display: flex;justify-content: center;font-size: 3px">
            <input class="btn btn-primary" type="submit" value="提交参数">
            <input class="btn btn-default" type="reset" value="默认参数">
        </div>
        <br>
        <br>
        <div class="clear"></div>
    </form>
    <!-----//end-main---->
</div>


</body>
</html>