<!DOCTYPE html >

<html>

<head>
    <meta charset="utf-8">
    <title>选择的融合特征</title>
    <link rel="stylesheet" href="../static/semantic.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/semantic.js"></script>
    <meta charset="utf-8">
    <title>Title</title>
    <style>
        td{width:500px;overflow:hidden}
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../select_tables/">数据源字段选择</a></li>
                    <li><a>字段属性选择</a></li>
                    <li><a>模型参数原则</a></li>
                    <li><a>生成特征选择</a></li>
                    <li class="active"><a>最终选择的特征</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>

<div style="white-space: nowrap; overflow: hidden; overflow-x: scroll; -webkit-backface-visibility: hidden; -webkit-overflow-scrolling: touch;">
    <table class="table table-bordered">
        {#                  <caption>生成特征：</caption>#}
        <tbody>

        <tr>
            <td>customer_id</td>
            {% for result in columns|slice:"1:" %}
                <td>{{ result }}</td>
            {% endfor %}
        </tr>

        <tr>
            {% for sample in sample_data1 %}
                <td>{{ sample }}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for sample in sample_data2 %}
                <td>{{ sample }}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for sample in sample_data3 %}
                <td>{{ sample }}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for sample in sample_data4 %}
                <td>{{ sample }}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for sample in sample_data5 %}
                <td>{{ sample }}</td>
            {% endfor %}
        </tr>

        </tbody>
    </table>
</div>
<br>
<p>所有手动筛选的的特征和对应数据已保存到根目录selected_features.csv中</p>

</body>
</html>
