<!DOCTYPE html>

<html>

 <head>
    <meta charset="utf-8">
    <title>Title</title>
 </head>

<body>

    <form action="/index2/" method="post">

        用户名: <input type="text" name="user"><br>

        密码: <input type="password" name="password"><br>

        性别: <input type="radio" name="gender" value="1" checked>男

        <input type="radio" name="gender" value="0">女 <br>

        爱好: <input type="checkbox" name="hobby" value="walking">散步

        <input type="checkbox" name="hobby" value="swimming">游泳

        <input type="checkbox" name="hobby" value="play football">踢足球
        <br>

        <input type="submit" value="提交">

    </form>

  </body>
</html>
